In [16]:
import numpy as np
import pandas as pd

In [19]:
file = pd.read_excel("ed.xlsx", index_col=0)
file

             330  330 1.5X    S&P500
CAGR    0.057200  0.080200  0.063600
Mean    0.093440  0.140150  0.121900
STD     0.155768  0.233651  0.248090
MDD     0.325000  0.457000  0.565000
Sharpe  0.599868  0.599825  0.491353

In [20]:
file = pd.read_excel("ed.xlsx", index_col=0)
file.loc["Mean"] = file.loc["Mean"] / 365 * 252
file.loc["STD"] = file.loc["STD"] / np.sqrt(365) * np.sqrt(252)
file.loc["Sharpe"] = file.loc["Mean"] / file.loc["STD"]
file

             330  330 1.5X    S&P500
CAGR    0.057200  0.080200  0.063600
Mean    0.064512  0.096761  0.084161
STD     0.129429  0.194143  0.206140
MDD     0.325000  0.457000  0.565000
Sharpe  0.498435  0.498401  0.408271

In [24]:
f = file[[330,"330 1.5X", "S&P500"]]
f.columns = ["330 Days","330(1.5X)", "S&P500"]
f

        330 Days  330(1.5X)    S&P500
CAGR    0.057200   0.080200  0.063600
Mean    0.064512   0.096761  0.084161
STD     0.129429   0.194143  0.206140
MDD     0.325000   0.457000  0.565000
Sharpe  0.498435   0.498401  0.408271